.center-container {
  display: flex;
  justify-content: center;   /* centers horizontally */
  align-items: center;       /* centers vertically */
  height: 100vh;
  background: #f0f2f5;
}

.auth-container {
  display: flex;              /* two halves side by side */
  width: 800px;               /* bigger box */
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  overflow: hidden;
}

.auth-left {
  flex: 1;
  background: #2e7d32;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  text-align: center;
}

.auth-left h2 {
  font-size: 25px;
  margin-bottom: 15px;
}

.auth-left p {
  font-size: 16px;
  line-height: 1.5;
}

.auth-right {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-right h2 {
  margin-bottom: 20px;
  color: #2e7d32;
}

.auth-right form {
  width: 100%;
}

.auth-right input {
  width: 92%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.auth-right button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #1a8f1f;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.auth-right button:hover {
  background-color: #2e7d32;
}

